@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-VariableFont_wght.ttf')  format('truetype')
}

@media screen and (orientation: portrait) {
  canvas, button {
    transform: rotate(-90deg) scale(2);
  }
  
  .startButton {
    top: calc(((100vh)/2) - 10px) !important;
    left: calc(((100vw)/2) + 110px) !important;
  }
  
  .resetButton {
    top: calc(((100vh)/2) - 25px) !important;
    left: calc(((100vw)/2) + 85px) !important;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  touch-action: manipulation;
  background-color: black;
}

canvas {
  display: block;
  position: absolute;
  top: calc((100vh - 360px)/2);
  left: calc((100vw - 640px)/2);
}

button {
  font-family: 'Comfortaa';
  font-weight: bolder;
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
  background-color: black;
  position: absolute;
}

.startButton {
  top: calc(((100vh)/2) + 50px);
  left: calc(((100vw)/2) - 40px);
}

.resetButton {
  top: calc(((100vh)/2) + 50px);
  left: calc(((100vw)/2) - 65px);
}
