@font-face {
  font-family: 'Comfortaa';
  src: url('fonts/Comfortaa-VariableFont_wght.ttf')  format('truetype')
}

@media screen and (orientation: portrait) {
  canvas {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh !important;
    height: 100vw !important;
    overflow-x: hidden;
    position: absolute;
    top: 100% !important;
    left: 0 !important;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  touch-action: manipulation;
  background-color: black;
}

canvas {
  display: block;
}

button {
  font-family: 'Comfortaa';
  font-weight: bolder;
  color: white;
  border-radius: 4px;
  padding: 16px 24px;
  background-color: black;
}
